body {
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 2fr;

}

h1 {
  color: blue;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

/* .usersDivBackground {
  background-color: white;
  opacity: 0.5;
} */

.usersDiv {
  grid-column: 1;
  background-color: black;
  border-radius: 10px;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
}

.userNameButton {
  background-color: blue;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  font-style: italic;
  margin: 10px;
  /* opacity: 1; */
  justify-content: center;
}

.userNameButton:hover {
  background-color: yellow;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 247, 0, 0.67);
  height: 24px;
  color: black;
  font-size: 12px;
  font-style: italic;
  font-weight: bold;
  opacity: 1;
}

.searchInputDiv {
  background-color: black;
  border-radius: 10px;
}

.searchInput {
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  /* padding: top right bottom left; */
  padding: 5px 10px 5px 10px;
  font-size: 14px;
  height: 15px;
  width: 200px;
  /* justify-self: center; */
}

.searchButton {
  border-radius: 10px;
  background-color: blue;
  color: white;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
}
